<div class="contenido">

  <div class="titulos">
    <div class="logo">
      <img src="the_wala_ips_logo.jpg" width="80">
    </div>
    <div class="textos">
      <h1>Reporte citas</h1>
      <span>Aquí encontrarás el reporte de todas las citas de la IPSI</span>
      <p>Puedes buscar por los parámetros que consideres necesarios para buscar por cita, por paciente o por
        profesional.</p>
    </div>
    <div style="display: flex; justify-content: flex-end;">
      <a href="#" (click)="descargarArchivoExcel($event)" title="Descargar Excel">
        <img width="48" height="48" src="https://img.icons8.com/material/48/40C057/ms-excel--v1.png"
          alt="ms-excel--v1" />
      </a>
    </div>
  </div>
  <form [formGroup]="form" (submit)="search()">
    <mat-tab-group class="filter-tab-group" #tabGroup>
      <mat-tab label="Buscar">
        <div class="form-container">

          <table class="filter-table">
            <tr>
              <td colspan="">
                <mat-form-field appearance="outline">
                  <mat-label>Selecciona un rango de fechas</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Inicio" formControlName="startDate">
                    <input matEndDate placeholder="Fin" formControlName="endDate">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                  <mat-hint>DD/MM/YYYY - DD/MM/YYYY</mat-hint>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Id cita</mat-label>
                  <input matInput>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Número de identificación</mat-label>
                  <input matInput>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Nombre paciente</mat-label>
                  <input matInput>
                </mat-form-field>
              </td>
            </tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>CUP</mat-label>
                <input matInput>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Médico</mat-label>
                <input matInput>
              </mat-form-field>
            </td>
            <tr>
              <td style="text-align: right;">
                <!-- Botón o evento para buscar -->
                <button mat-raised-button color="primary" (click)="search(true)">Buscar</button>

              </td>
            </tr>
          </table>

        </div>
      </mat-tab>

      <mat-tab label="Busqueda avanzada">

      </mat-tab>
    </mat-tab-group>
  </form>


  <!-- Tabla de datos -->
  <div class="tabla-container">
    <mat-table mat-table [dataSource]="datos" class="mat-table" multiTemplateDataRows>
      <!-- Columnas dinámicas -->
      <ng-container *ngFor="let columna of columnas" [matColumnDef]="columna">
        <mat-header-cell *matHeaderCellDef>{{ columna }}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row[columna] }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
    </mat-table>

    <!-- Mensaje si no hay registros -->
    <div *ngIf="datos.length === 0" class="no-registros">
      <p>No se encontraron resultados para esta búsqueda.</p>
    </div>
  </div>

  <!-- Paginador -->
  <mat-paginator *ngIf="!isFiltering && totalItems > 0" class="paginador-flotante"
    [pageSizeOptions]="[5, 10, 25, 100, 1000]" [pageSize]="pageSize" [pageIndex]="pageNumber" [length]="totalItems"
    (page)="cambiarPagina($event)" aria-label="Paginador de citas">
  </mat-paginator>


</div>