<div class="contenido">

  <div class="titulos">
    <div class="textos">
      <h1>Reporte citas</h1>
      <span>Aquí encontrarás el reporte de todas las actividades de la IPS</span>
      <p>Puedes buscar por los parámetros que consideres necesarios para buscar por rango de fechas, municipio, id cita,
        número identificacion y nombre del paciente, nombre del médico y numero del CUP
        profesional.</p>
    </div>
    <div class="descargar-excel">
      <a href="#" (click)="descargarArchivoExcel($event)" title="Descargar archivo Excel"
        aria-label="Descargar archivo Excel">
        <img src="excel_icon.png" alt="Ícono de Excel" width="40" height="40" />
        Descargar
      </a>
    </div>
  </div>

  <form [formGroup]="form">
    <mat-tab-group class="filter-tab-group" #tabGroup>
      <mat-tab label="Buscar">
        <div class="form-container">
          <table class="filter-table">
            <tr>
              <td colspan="2">
                <mat-form-field appearance="outline">
                  <mat-label>Selecciona fechas</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Inicio" formControlName="startDate">
                    <input matEndDate placeholder="Fin" formControlName="endDate">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                  <mat-hint>DD/MM/YYYY - DD/MM/YYYY</mat-hint>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label>Municipio</mat-label>
                  <mat-select formControlName="sucursales" placeholder="Seleccione un municipio">
                    <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal.razonSocial">
                      {{ sucursal.razonSocial }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label>Servicio</mat-label>
                  <input type="text" matInput placeholder="Seleccione un servicio" formControlName="servicios"
                    [matAutocomplete]="autoServicio">

                  <mat-autocomplete #autoServicio="matAutocomplete" [displayWith]="displayServicio">
                    <mat-option *ngFor="let servicio of serviciosFiltrados" [value]="servicio">
                      {{ servicio.nombreServicio }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Id cita</mat-label>
                  <input matInput formControlName="idCita">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Identificación</mat-label>
                  <input matInput formControlName="numeroIdentificacion">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Nombre paciente</mat-label>
                  <input matInput formControlName="nombrePaciente">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Médico</mat-label>
                  <input matInput formControlName="nombreMedico">
                </mat-form-field>
              </td>
              <td colspan="2">
                <mat-form-field appearance="outline">
                  <mat-label>codigoCup</mat-label>
                  <input matInput formControlName="codigoCup">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Busqueda avanzada">
      </mat-tab>
    </mat-tab-group>
  </form>

  <div class="contenedor-botones-leyenda">
    <div class="boton-buscar-limpiar">
      <button mat-raised-button color="primary" (click)="onSubmit()">
        <mat-icon>search</mat-icon> Buscar
      </button>

      <button mat-stroked-button color="warn" (click)="limpiarFormulario()">
        <mat-icon>clear</mat-icon> Limpiar
      </button>
    </div>
  </div>

 <button mat-fab color="primary" [matMenuTriggerFor]="menuLeyenda" class="boton-flotante-leyenda"
        matTooltip="Ver leyenda de estados" aria-label="Ver leyenda de estados">
  <mat-icon>info</mat-icon>
</button>


  <mat-menu #menuLeyenda="matMenu" class="leyenda-popover">
    <div class="estado-leyenda">
      <div class="estado-leyenda-item" *ngFor="let estado of estados">
        <div class="estado-cuadro" [ngClass]="'estado-' + estado.clase"></div>
        <span>{{ estado.nombre }}</span>
      </div>
    </div>
  </mat-menu>



  <div class="tabla-scrollable">
    <!-- Tabla de datos -->
    <div class="tabla-container">
      <table mat-table [dataSource]="datos" class="mat-table" multiTemplateDataRows>

        <!-- Columnas dinámicas -->
        <ng-container *ngFor="let col of columnas" [matColumnDef]="col">
          <th mat-header-cell *matHeaderCellDef class="encabezado-tabla">{{ col }}</th>
          <td mat-cell *matCellDef="let row" class="fila-tabla">{{ row[col] }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;" (click)="onFilaClick(row['id_cita'])"
          [class.fila-iluminada]="selectedIdCita?.toString() === row['id_cita']?.toString()"
          [ngStyle]="{'border-left': '10px solid ' + getColorByEstado(row['estado_cita'])}">
        </tr>
      </table>
    </div>
  </div>


  <!-- Mensajes de estado -->
  <p *ngIf="cargado && !datos.length">No hay datos disponibles.</p>

  <!-- Paginador -->
  <mat-paginator class="paginador-flotante" *ngIf="!isFiltering" [pageSizeOptions]="[5, 10, 25, 50, 100]"
    [pageSize]="pageSize" [length]="totalItems" (page)="cambiarPagina($event)" aria-label="Paginador de citas">
  </mat-paginator>