<div class="contenido">

  <div class="titulos">
    <div class="textos">
      <h1>Reporte citas</h1>
      <span>Aquí encontrarás el reporte de todas las citas de la IPSI</span>
      <p>Puedes buscar por los parámetros que consideres necesarios para buscar por cita, por paciente o por
        profesional.</p>
    </div>
  </div>

  <div class="descargar-excel">
    <a href="#" (click)="descargarArchivoExcel($event)" title="Descargar archivo Excel"
      aria-label="Descargar archivo Excel">
      <img src="excel_icon.png" alt="Ícono de Excel" width="40" height="40" />
    </a>
  </div>

  <form [formGroup]="form">
    <mat-tab-group class="filter-tab-group" #tabGroup>
      <mat-tab label="Buscar por Fechas">
        <div class="form-container">
          <table class="filter-table">
            <tr>
              <td colspan="2">
                <mat-form-field appearance="outline">
                  <mat-label>Selecciona fechas</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Inicio" formControlName="startDate">
                    <input matEndDate placeholder="Fin" formControlName="endDate">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                  <mat-hint>DD/MM/YYYY - DD/MM/YYYY</mat-hint>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Id cita</mat-label>
                  <input matInput formControlName="idCita">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Identificación</mat-label>
                  <input matInput formControlName="numeroIdentificacion">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Nombre paciente</mat-label>
                  <input matInput formControlName="nombrePaciente">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Médico</mat-label>
                  <input matInput formControlName="nombreMedico">
                </mat-form-field>
              </td>
              <td colspan="2">
                <mat-form-field appearance="outline">
                  <mat-label>CUP</mat-label>
                  <input matInput formControlName="cup">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>

  <div class="boton-buscar-limpiar">
  <button mat-raised-button color="primary" (click)="onSubmit()">
    <mat-icon>search</mat-icon>
    Buscar
  </button>

  <button mat-stroked-button color="warn" (click)="limpiarFormulario()">
    <mat-icon>clear</mat-icon>
    Limpiar
  </button>
</div>

</div>

<div class="tabla-scrollable">
  <!-- Tabla de datos -->
  <div class="tabla-container">
    <table mat-table [dataSource]="datos" class="mat-table" multiTemplateDataRows>

      <!-- Columnas dinámicas -->
      <ng-container *ngFor="let col of columnas" [matColumnDef]="col">
        <th mat-header-cell *matHeaderCellDef class="encabezado-tabla">{{ col }}</th>
        <td mat-cell *matCellDef="let row" class="fila-tabla">{{ row[col] }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
  </div>

  <!-- Mensajes de estado -->
  <p *ngIf="cargado && !datos.length">No hay datos disponibles.</p>

  <!-- Paginador -->
  <mat-paginator class="paginador-flotante" *ngIf="!isFiltering" [pageSizeOptions]="[5, 10, 25]" [pageSize]="pageSize"
    [length]="totalItems" (page)="cambiarPagina($event)" aria-label="Paginador de citas">
  </mat-paginator>